# Shared database credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=tav_db
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

# NPM Workspace Local Development Variables
PG_URI=postgres://user:password@localhost:5432/tav_db
NEO4J_URI=bolt://localhost:7687
REDIS_HOST=localhost
REDIS_PORT=6379
PORT=3000