# Shared database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tav_db
NEO4J_USER=
NEO4J_PASSWORD=

# Backend Application Variables
PG_URI=
NEO4J_URI=
REDIS_HOST=
REDIS_PORT=6379
PORT=3000
